.car-container {
  margin-top: 100px;
}

.breadcrumbs {
  margin-left: 20px;
  margin-bottom: 60px;
}
.filter-pagination-search-container {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 60px;
  width: 100%;
  background-color: white;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.filter-icon-button {
  border: none;
  background-color: white;
}
input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  border-radius: 0px;
  background: whitesmoke;
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  background: #ff5733;
  border-radius: 0px;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #ff5733;
  border: 4px solid white;
  outline: 2px solid #ff5733;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
  margin-top: -5px;
}

input[type="range"]::-moz-range-track {
  background: #ff5733;
  height: 6px;
}

.search-box-lg {
  height: 36px;
  width: 400px;
  margin-left: 10px;
}
.search-box-sm {
  height: 36px;
  width: 200px;
  margin-left: 10px;
}

.sub-info span {
  margin-right: 60px;
  font-size: 12px;
}
